$color-1: #fefffd;
$color-1-opac-02: rgba(255, 255, 255, 0.4);
$color-1-opac-01: rgba(255, 255, 255, 0.2);
$color-2: #424645;
$color-3: #f9f9f9;
$color-4: #b3b5b4;
$color-5: #363636;
$green: #5bbb95;
$green-1: #58b18d70;
$green-2: #88e3d7;
