@import "fonts";
@import "colors";
@import "spacing";
@import "helper-mixins";

html {
  font-size: 62.5%;
  @include font;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/***********************/
/*Hero section*/
/***********************/
.hero {
  background-image: linear-gradient(
      rgba(255, 255, 255, 0.1),
      rgba(255, 255, 255, 0.1)
    ),
    url("../img/felix-russell-saw-372070-unsplash.jpg");
  background-size: 125%;
  background-position: bottom -11rem right -4rem;
  height: 99.5vh;
  width: 100%;
  margin: 0;

  position: relative;
}

.menu-button {
  display: none;
}
/*Hero nav*/
.navigation-bar {
  @include space-between;
  width: 100%;
  height: 6rem;
  padding: 3.5rem $nav-pad;
}

.navigation-bar .logo {
  padding-top: 1rem;
}

.buttons {
  @include space-between;
  gap: 3.4rem;
}

.button {
  text-decoration: none;
  color: $color-1;
  font-size: $medium-size;
  font-weight: $bold;
}

.nav-button:hover {
  color: $color-1-opac-02;
}

.nav-button:last-of-type {
  display: flex;
  gap: 0.5rem;
  border: thin solid $color-1;
  border-radius: 5rem;
  padding: 0.4rem 1rem;
}

.nav-button:last-of-type:hover {
  color: $color-5;
  background-color: $color-1;
}

/*Hero center*/
.hero-center {
  @include space-between;
  font-size: 5.9rem;
  text-align: center;
  font-weight: $bold;
  margin: 0 4rem;
  position: absolute;
  width: calc(100% - 8rem);
  top: 50%;
  transform: translate(0, -68%);
  padding: 0;
}
.center-text {
  border: 2px solid $color-1-opac-02;
  padding: 5.5rem 2.7rem 6rem 2.7rem;
  letter-spacing: 1.1px;
}

.hero-center-icon {
  margin-top: 9rem;
  font-size: 5.8rem;
  cursor: pointer;
  border-radius: 50%;
  @include center;
}

.hero-center-icon:hover {
  color: $color-5;
  background-color: $color-1;
  transition: all 1s;
}

/*Hero bottom*/
.hero-bottom {
  @include space-between;
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 12rem;
  padding-bottom: 0.6rem;
  color: $color-1;
  font-weight: $medium;
  line-height: 1.4;
  font-size: $larger-1-size;
  background-color: rgba(83, 76, 55, 0.3);
}

.purchase-title {
  font-size: 3.1rem;
  letter-spacing: -0.5px;
}

.bottom-button {
  border: 0.2rem solid $color-1;
  padding: 1.4rem 3.2rem;
  margin-top: 1rem;
}

.bottom-button:hover {
  color: $color-5;
  background-color: $color-1;
  transition: all 0.5s;
}

/**************/
/*Learn about section*/
/**************/
.learn-about {
  height: 83.5rem;
  width: 100%;
  @include space-between;
  flex-direction: column;
}
.title {
  @include center;
  font-size: 2.9rem;
}

.learn-about > div {
  color: $color-2;
}

.green {
  color: $green;
}

.top-box {
  @include center;
  flex-direction: column;
  margin: 8.5rem 0 8.5rem 0;
  gap: 3.1rem;
  padding-right: 1rem;
}

.line {
  width: 4.5rem;
  height: 2px;
  border: 2px solid $green;
}

.learn-grid {
  padding: 0 -4rem;
  height: 90rem;
  margin-top: 2rem;
  @include space-between;
  background-color: #fff;
}

.phone-img {
  margin-top: 0.7rem;
  width: 35.5rem;
  height: 57rem;
  padding-bottom: 0;
}

.boxes {
  margin-left: 9.5rem;
}

.right-side {
  height: 100%;
  width: 100%;
}

.button-box button {
  text-decoration: none;
}

.first-row,
.second-row {
  @include space-between;
  gap: 13.5rem;
  margin-bottom: 8.5rem;
}

.box-title {
  font-size: 2.4rem;
  font-weight: $medium;
  padding: 0rem 0 2rem 0;
  margin-top: -0.3rem;
}

.box-text {
  font-size: $larger-size;
  font-weight: $medium;
  padding: 0 0 0 0;
  line-height: 1.45;
}

.button-box {
  @include center;
  align-items: center;
  margin-top: -2rem;
  margin-left: 0.2rem;
}

.button-box .box:hover {
  background-color: $green;
  color: $color-1;
  transition: all 0.5s;
}

.button-box .box {
  border: 2px solid $green;
  font-weight: $bold;
}

.learn-about .button-box .box {
  padding: 1.5rem 2.2rem;
}
/******************/
/*Reviews*/

.reviews {
  background-image: linear-gradient(
      rgba(255, 255, 255, 0.1),
      rgba(255, 255, 255, 0.1)
    ),
    url(../img/john-salvino-277134.jpg);
  background-size: 100%;
  background-position: top -58.1rem left 0rem;
  height: 73.3rem;
  padding-top: 1px;
  margin: 0;
}

.reviews .top-box {
  margin: 8.5rem 0;
}

.review-title {
  letter-spacing: 0.7px;
  padding-right: 0.7rem;
}
.review-description {
  font-size: $medium-size;
  font-weight: $bold;
  letter-spacing: 0.2px;
  padding-left: 0.7rem;
}

.review-boxes {
  @include space-between;

  gap: 7.5rem;
}

.review-text {
  background-color: #fff;
  color: $color-2;
  line-height: 1.6;
  letter-spacing: -0.3px;
  padding: 2rem 2.5rem 2.3rem 2rem;
  font-size: $medium-size;
  position: relative;
}

.review-image img {
  height: 7rem;
  width: 7rem;
}

.review-image {
  height: 6.7rem;
  width: 6.7rem;
  border-radius: 50%;
  overflow: hidden;
}

.review-text::before {
  content: "";
  position: absolute;
  width: 0;
  height: 0;
  top: 100%; /* Position it at the bottom of .review-text */
  left: 11%; /* Center it horizontally */
  transform: translateX(-50%); /* Center it horizontally */
  border-style: solid;
  border-width: 2.5rem 1.7rem; /* Increase the top border to increase the height */
  border-color: transparent transparent #fff transparent;
  transform: rotate(180deg); /* Corrected property name */

  /* Styling */
  filter: drop-shadow(0 -0.0625rem 0.0625rem rgba(0, 0, 0, 0.1));
}

.bottom-side {
  display: flex;
  justify-content: start;
  align-items: center;
  gap: 1rem;
  margin-top: 3.7rem;
  padding: 0 0 0 1.7rem;
}

.person {
  font-size: $larger-size;
  line-height: 1.3;
  font-weight: $bold;
}

.review-boxes .review:last-child .bottom-side {
  margin-left: 0.4rem;
}

.review-chooser {
  @include center;
  margin-top: 8.7rem;
  height: 1.5rem;
  gap: 1.5rem;
}

.dot {
  background-color: $color-1-opac-02;
  height: 1.3rem;
  width: 1.3rem;
  border-radius: 50%;
}

.active {
  background-color: $green;
}

/*****************/
/*statistics*/
.statistics {
  height: 63.3rem;
}

.stats-title {
  color: $color-2;
}

.statistics .line {
  margin: 0.5rem 0 0 0.4rem;
}

.stats {
  color: $color-2;
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.stat-box {
  display: flex;
  flex-direction: column;
  width: 100;
  width: 30%;
  height: 45rem;
  align-items: center;
  padding-top: 0;
  margin-top: 2.5rem;
}

.number {
  margin-top: 0.5rem;
  margin-bottom: 4rem;
  font-size: 3.7rem;
  width: 19.5rem;
  height: 19.5rem;
  text-align: center;
  @include center;
  border: 2px solid $green;
  border-radius: 50%;
  font-weight: $bold;
}

.stat-title {
  font-size: 2.4rem;
  font-weight: $medium;
  margin: 0;
  margin-bottom: 2rem;
  margin-top: -0.2rem;
  margin-left: -0.2rem;
}

.stat-description {
  font-size: $medium-size;
  padding: 0 4rem;
  text-align: center;
  line-height: 1.6;
  font-weight: $medium;
}

/******************/
/*Packages*/

.packages {
  background-color: $color-3;
  height: 78.5rem;
  padding-top: 0.1rem;
}

.packages-title {
  color: $color-2;
  padding-right: 0.5rem;
}

.package-boxes {
  @include space-between;
  gap: 7rem;
  height: 45.5rem;
}

.package-box {
  text-align: center;
  background-color: #fff;
  color: $color-4; //42.5
  height: 41rem;
  width: 100%;
  padding: 4.5rem 0;
  box-shadow: 2px 2px 20px 2px rgba(0, 0, 0, 0.1);
  transition: all 0.5s;
}

.package-box:hover {
  height: 45.5rem;
}

.price {
  margin-top: 0;
  font-size: 5rem;
  font-weight: $bold;
  margin-left: 2rem;
}

.price p {
  display: inline;
  position: relative;
}

.price p::before {
  content: "$";
  font-size: 3rem;
  color: $color-4;
  position: absolute;
  left: -3rem;
  top: 0.5rem;
}

.package-type {
  margin-top: 1.7rem;
  margin-right: 0.3rem;
  font-size: 3rem;
  font-weight: $medium;
}

.package-info {
  list-style: none;
  font-size: $medium-size;
  margin-top: 2.8rem;
  color: $color-2;
  font-weight: $bold;
}

.package-info li {
  margin-bottom: 0.7rem;
}

.packages .button-box {
  margin-top: 2rem;
  margin-left: 1.5rem;
}

.packages .button-box .box {
  font-size: $smaller-size;
  font-weight: $bold;
  padding: 1.2rem 2.6rem;
}

/********************/
/*Contact us*/
.contact-us {
  height: 62rem;
  width: 100%;
  background-color: $color-5;
  position: relative;
}

.footer-logo {
  width: 19rem;
  padding-left: 0.5rem;
}

.logo-part {
  padding: 5rem $nav-pad 0 $nav-pad;
}

.footer-main {
  display: grid;
  grid-template-columns: 10.2fr 8fr;
  height: 41.1rem;
  margin: 0 24.5rem;
}

.footer-left {
  padding-top: 7rem;
  padding-left: 0.2rem;
}

.top {
  display: grid;
  grid-template-rows: repeat(3, 1fr);
  grid-template-columns: 0.5fr 0.5fr 1fr;
  row-gap: 0.8rem;
  padding-left: 0.4rem;
  margin-right: 15rem;
  margin-bottom: 5rem;
}

.footer-link {
  text-decoration: none;
  display: inline;
  color: #ffffffb6;
  font-size: 1.5rem;
  letter-spacing: 0.2px;
  margin-right: 7.9rem;
  font-weight: $regular;
}

.footer-link:hover {
  color: $color-1;
  transition: all 0.5s;
}

.icons {
  @include space-between;
  width: 37%;
  margin-bottom: 4rem;
}

.footer-icon {
  margin: 0;
  font-size: 2.4rem;
  color: $color-1-opac-02;
}

.address {
  padding-left: 0.5rem;
  font-size: $medium-size;
  line-height: 1.6;
  color: $color-1-opac-01;
  letter-spacing: -0.3px;
}

.footer-right {
  color: $color-1-opac-01;
  margin: -0.5rem -0.5rem -0.5rem -0.3rem;
}

.footer-right-title {
  color: #fff;
  font-size: $larger-size;
  font-weight: $bold;
  margin-top: 1.5rem;
  margin-bottom: 2.8rem;
}

.form-boxes {
  border-collapse: collapse;
  background: none;
  display: grid;
  margin-right: 0.5rem;
  height: 34.5rem;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr 4.7fr 1fr;
}

.form-box {
  background: none;
  border: none;
  border: 1px solid $green-1;
  padding-left: 3rem;
  font-size: $medium-size;
  font-weight: $bold;
}

.form-comment {
  grid-column: 1/-1;
  margin: 0;
  padding: 1rem 0 0 3rem;
}

.submit-button {
  grid-column: 1/-1;
  background-color: $green;
  color: #fff;
  border: 1px solid $green;
  font-size: $medium-size;
  font-weight: $bold;
  letter-spacing: 1px;
}
.copy {
  @include center;
  margin-top: 6.7rem;
  font-size: $mini-size;
  margin-right: 3rem;
  color: $color-1-opac-01;
}

.go-up {
  position: absolute;
  color: #ffffff2c;
  font-size: 3.5rem;
  right: 3%;
  bottom: 3.5%;
}

.hidden {
  display: none;
}

@each $number, $value in (numone: 201, numtwo: 3841, numthree: 110) {
  @property --#{$number} {
    syntax: "<integer>";
    initial-value: #{$value};
    inherits: false;
  }

  .counter-#{$number} {
    animation: counter-#{$number} 3s alternate ease-in-out;
    counter-reset: #{$number} var(--#{$number});
    padding: 2rem;

    position: relative;
  }

  .counter-#{$number}::after {
    content: counter(#{$number});
    position: absolute;
    top: 85%;
    transform: translate(-50%, 50%);
  }

  @keyframes counter-#{$number} {
    from {
      --#{$number}: 0;
    }
    to {
      --#{$number}: #{$value};
    }
  }
}
